<footer class="footer-container">
  <div class="footer-content">
    
    <div class="footer-col">
      <a href="#" class="btn-atendimento central">Central de Atendimento</a>
      <a href="#" class="btn-atendimento fale-conosco">Fale Conosco</a>
      
      <div class="redes-sociais">
        <p>Acompanhe nossas redes sociais</p>
        <div class="icons-redes">
          <a href="#" class="icon-social instagram">
            <img src="/Images/instagram.jfif" alt="Instagram" width="30px" height="30">
          </a>
          <a href="#" class="icon-social tiktok">
            <img src="/Images/tiktok.jpg" alt="TikTok" width="30px" height="30">
          </a>
          <a href="#" class="icon-social linkedin">
            <img src="/Images/linkedin.png" alt="Linkedin" width="30px" height="30">
          </a>
          <a href="#" class="icon-social youtube">
            <img src="/Images/youtube.jpg" alt="Youtube" width="30px" height="30">
          </a>
        </div>
      </div>
    </div>

    <div class="footer-col">
      <h3>Institucional</h3>
      <ul>
        <li><a href="#">Quem somos?</a></li>
        <li><a href="#">Trabalhe Conosco</a></li>
        <li><a href="#">Marcas Parceiras</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h3>Precisa de ajuda?</h3>
      <ul>
        <li><a href="#">Termos de Uso e Navegação</a></li>
        <li><a href="#">Fale com o DPO/LGPD</a></li>
        <li><a href="#">Aviso sobre cookies</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h3>Formas de pagamento</h3>
      <div class="Selo-group">
        <div class="selo-placeholder">Cartão de Crédito</div>
        <div class="selo-placeholder">Pix</div>
        <div class="selo-placeholder">Pix Parcelado</div>
      </div>

      <h3 class="margin-top-sec">Segurança e certificações</h3>
      <div class="Selo-group">
        <div class="selo-placeholder-sec">Ebit</div>
        <div class="selo-placeholder-sec">Clearsale</div>
        <div class="selo-placeholder-sec">Google</div>
        <div class="selo-placeholder-sec">VTEX</div>
      </div>
    </div>

  </div>

  <div class="footer-banner">
      <img src="/Images/Fundo_footer.png" alt="Mascote KiDiverte" class="mascote-img">
  </div>
</footer>
