<div id="home-container">
    <div id="home-menu-content">
        <div id="categories-images">
            <img src="/carrossel/carrinhos.png" alt="carrinhos">
            <img src="/carrossel/blocos.png" alt="carrinhos">
            <img src="/carrossel/bonecas.png" alt="carrinhos">
            <img src="/carrossel/colecionaveis.png" alt="carrinhos">
            <img src="/carrossel/bebes.png" alt="carrinhos">
            <img src="/carrossel/esportes.png" alt="carrinhos">
            <img src="/carrossel/jogos.png" alt="carrinhos">
        </div>
        
    </div>