<div id="home-container">
    <div id="home-menu-content">
        <div id="categories-images">
            <img src="assets/home_menu/carrinhos.png" alt="carrinhos">
            <img src="assets/home_menu/blocos.png" alt="carrinhos">
            <img src="assets/home_menu/bonecas.png" alt="carrinhos">
            <img src="assets/home_menu/colecionaveis.png" alt="carrinhos">
            <img src="assets/home_menu/bebes.png" alt="carrinhos">
            <img src="assets/home_menu/esportes.png" alt="carrinhos">
            <img src="assets/home_menu/jogos.png" alt="carrinhos">
        </div>
        
        <div id="carrosel-container">
            <div class="carrosel">
                <h2>BRINQUEDOS NOVOS NO PEDAÇO</h2>
                
            </div>
        </div>

    </div>