<div id="home-container">
    <div id="home-menu-content">
        <div id="categories-images">
            <img src="assets/home_menu/carrinhos.png" alt="carrinhos">
            <img src="assets/home_menu/blocos.png" alt="carrinhos">
            <img src="assets/home_menu/bonecas.png" alt="carrinhos">
            <img src="assets/home_menu/colecionaveis.png" alt="carrinhos">
            <img src="assets/home_menu/bebes.png" alt="carrinhos">
            <img src="assets/home_menu/esportes.png" alt="carrinhos">
            <img src="assets/home_menu/jogos.png" alt="carrinhos">
        </div>

        <div class="carrossel-container">
            <div id="new-toys">
                <section>
                    <h2>BRINQUEDOS NOVOS NO PEDAÇO</h2>
                </section>

                <div class="carrossel-wrapper">

                    <button class="arrow-btn left" (click)="scrollCarrosselNewToys(-1)" aria-label="before"></button>

                    <div class="carrossel-items" #carrosselNewToys>
                        @for (item of productsNewToys; track item.id){
                        <app-card [product]="item"></app-card>
                        }
                    </div>

                    <button class="arrow-btn right" (click)="scrollCarrosselNewToys(1)" aria-label="next"></button>

                </div>

            </div>

            <div id="best-sellers">
                <section>
                    <h2>MAIS VENDIDOS</h2>
                </section>

                <div class="carrossel-wrapper">

                    <button class="arrow-btn left" (click)="scrollCarrosselBestSellers(-1)"
                        aria-label="before"></button>

                    <div class="carrossel-items" #carrosselBestSellers>
                        @for (item of productsBestSellers; track item.id){
                        <app-card [product]="item"></app-card>
                        }
                    </div>

                    <button class="arrow-btn right" (click)="scrollCarrosselBestSellers(1)" aria-label="next"></button>

                </div>

            </div>
        </div>

    </div>

    <div id="brand_icons">
        <img class="big-brand-icon" src="assets/brand_icons/estrela.png" alt="estrela">
        <div class="small-icons-container">
            <img class="small-brand-icons" src="assets/brand_icons/melissa&doug.png" alt="melissa&doug">
            <img class="small-brand-icons" src="assets/brand_icons/hasbro.png" alt="hasbro">
        </div>
        <img class="big-brand-icon" src="assets/brand_icons/mattel.png" alt="mattel">
        <div class="small-icons-container">
            <img class="small-brand-icons" src="assets/brand_icons/funko.png" alt="funko">
            <img class="small-brand-icons" src="assets/brand_icons/lego.png" alt="lego">
        </div>
    </div>
</div>