<div id="cards-wrapper">
  <mat-card id="card-container" appearance="outlined">
    
    <div class="container-image" [routerLink]="['/produto', product.id]" style="cursor: pointer;">
      <img [src]="product.images" [alt]="product.name">
    </div>

    <mat-card-content id="body-content">
      <div class="title-container">
        <div style="display: flex; gap: 8px; align-items: center;">
          <app-star-rate 
            id="starRate"
            [productId]="product.id"
            [averageRating]="averageRating"
            [showAverage]="true"
          ></app-star-rate>
          <span style="font-size: 12px; color: #999;">
            ({{ averageRating > 0 ? averageRating.toFixed(1) : '-' }} / {{ ratingCount }})
          </span>
        </div>
        
        <p [routerLink]="['/produto', product.id]" style="cursor: pointer;">
          {{product.name}}
        </p>
      </div>

      <div class="price-container">
        <span id="price">
          Por R$ {{product.current_price.toFixed(2).replace('.', ',')}}
        </span>
        <br>
        <span>
          ou 6x R$ {{(product.current_price / 6).toFixed(2).replace('.', ',')}} s/ juros
        </span>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-flat-button id="add-button" [routerLink]="['/produto', product.id]">Ver Detalhes</button>
    </mat-card-actions>

  </mat-card>
</div>
