<mat-card id="card-container" appearance="outlined">

    <div class="content-wrapper">
        <div class="container-image">
            <img [src]="imageUrl" alt="Imagem do produto">
        </div>

        <mat-card-content id="body-content">

            <div class="title-container">
                <p>
                    Lego Minecraft Enderman
                </p>
                <app-star-rate id="starRate"></app-star-rate>
            </div>

            <div class="price-container">
                <span>
                    R$ 199,90
                </span>
            </div>

        </mat-card-content>
    </div>

</mat-card>