.cart-sidebar {
  width: 320px;
  min-height: 100vh;
  background-color: #f3fff4;
  padding: 24px;
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.15);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botao-fechar,
.botao-remover,
.quantity-control button {
  cursor: pointer;
}

.botao-fechar {
  border: none;
  background: transparent;
  font-size: 28px;
}

.cart-produto {
  display: flex;
  gap: 12px;
  margin-top: 24px;
  align-items: center;
}

.imagem-produto {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.informacao-produto h3 {
  margin: 0;
  font-size: 16px;
}

.preco-produto {
  margin: 8px 0;
  color: #6b3df5;
}

.controle-quantidade {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 12px;
}

.cart-footer {
  margin-top: auto;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  font-size: 18px;
}

.botao-finalizar-compra,
.botao-continuar-comprando {
  width: 100%;
  padding: 14px;
  border-radius: 24px;
  margin-bottom: 12px;
  cursor: pointer;
}

.botao-finalizar-compra {
  border: none;
  background-color: #8b4dff;
  color: white;
}

.botao-continuar-comprando {
  border: 1px solid #8b4dff;
  background: transparent;
  color: #8b4dff;
}
.controle-quantidade {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 12px;
}

.botao-mais-menos {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid #b784ff;
  background: transparent;
  color: #8b4dff;
  font-size: 24px;
  cursor: pointer;
  transition: 0.2s;
}

.botao-mais-menos:hover {
  background-color: #f1e7ff;
}

.botao-quantidade {
  width: 42px;
  height: 42px;
  border: 2px solid #d9c2ff;
  border-radius: 999px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  font-weight: bold;
}

.botao-remover {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  background-color: #f3edf9;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: 0.2s;
}

.botao-remover:hover {
  background-color: #e7d9ff;
}
.material-symbols-outlined {
  font-size: 22px;
}
.logo-kidiverte {
  width: 220px;
  display: block;
  margin: 24px auto 0;
}

.cart-actions {
  background-color: #d9c2ff;
  margin: 24px -24px -24px;
  padding: 28px 24px 32px;
  border-radius: 0 0 24px 24px;
}
.overlay-carrinho {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  background: rgba(0, 0, 0, 0.35);

  display: flex;
  justify-content: flex-end;

  z-index: 999;
}